<nav class="navbar fixed-top p-0 rtb-bg-yellow">
    <div class="container-fluid">

        <a class="navbar-brand d-flex flex-column justify-content-between" href="#"><p
                class="align-text-bottom rtb-title-logo m-0">Ride the Best</p>
            <p class="rtb-u-title-logo m-0 text-end">F*** The Rest</p></a>
        <button class="rtb-burger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end rtb-bg-grey" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title rtb-text-white rtb-title-one" id="offcanvasDarkNavbarLabel">Hello rider!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">


                <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">
                        <img class="rtb-profilPicture me-2"
                             src="{{ asset('images/profilPictures/WhatsApp Image 2025-02-06 à 18.47.08_51e125d9.jpg') }}"
                             alt="photo de l'utilisateur connecté">Mon profil</a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <div class="rtb-profilPicture me-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-activity"></i>
                            </div>
                            <div>Mes sessions</div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <div class="rtb-profilPicture me-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-tsunami"></i>
                            </div>
                            <div>Mes spots</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>

