

services:
###> doctrine/doctrine-bundle ###
    database:
        image: mysql:8.4
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
            # Change ce mot de passe en prod !
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
            MYSQL_USER: ${MYSQL_USER:-app}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - database_data:/var/lib/mysql
        ports:
            - "3306:3306"
    symfony:
        build:
            context: .
            dockerfile: ./docker/php/Dockerfile
        container_name: symfony_app
        volumes:
            - ./:/var/www/html
        ports:
            - "8000:8000"
        depends_on:
            - database
            - mailer
        env_file:
            - .env.docker
        command: bash -c "composer install && php -S 0.0.0.0:8000 -t public"
    mailer:
        image: axllent/mailpit
        container_name: mailer
        ports:
            - "1025:1025"
            - "8025:8025"

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
