main{
    padding-top: 65px;

}
body{
    background: #ECF8F6;
}
/*--------------------------------- Images --------------------------*/

.rtb-logo{
    width: 35px;
    margin-right: 2vw;
}

/*---------------------------------- Title -------------------------*/
.rtb-title-logo{
    font-family: 'Pacifico', 'Shrikhand', cursive, sans-serif;
    font-size: 100%;
    color: #18534F;
    line-height: 0.7;
}
.rtb-u-title-logo{
    font-family: 'Shrikhand', cursive, sans-serif;
    font-size: 55%;
    color: #226D68;
    line-height: 1;
}
.rtb-title-one{
    font-weight: bold;
}

/*---------------------------------- Text color -------------------------*/
.rtb-text-white{
    color: #FFFFFF;
}
/*---------------------------------- Background color -------------------------*/
.rtb-bg-yellow{
    background-color: #FEEAA1;
}
.rtb-bg-grey{
    background-color: #226D68;
}
.rtb-profilPicture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/*------------------------------------- Boutons ---------------------------------*/
.rtb-burger-btn{
    font-size: 120%;
    background-color: transparent;
    border: none;

}
.rtb-btn-primary{
    border-radius: 5px;
    border: 1px solid #18534F;
    background-color: #18534F;
    color: #fff;

}
.rtb-btn-secondary{
    border-radius: 5px;
    border: 1px solid #18534F;
    background-color: transparent;
    color: #18534F;
}
