{% extends 'base.html.twig' %}

{% block title %}Welcome riders!{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
    <h1 class="bg-blue-600">Hello riders! </h1>


{% endblock %}
