{% extends 'base.html.twig' %}

{% block title %}Welcome riders!{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center gap-2">
        <button class="rtb-btn-secondary d-flex align-items-center">
            <div class=" me-1 d-flex justify-content-center align-items-center">
                <i class="bi bi-funnel"></i>
            </div>
            <div>Filtres</div>
        </button>
        <button class="rtb-btn-primary d-flex align-items-center">
            <div class="me-1 d-flex justify-content-center align-items-center">
                <i class="bi bi-plus-lg"></i>
            </div>
            <div>Nouvelle session</div>
        </button>
    </div>



{% endblock %}
